<h1>Orders</h1>

<% if @in_progress_order %>
  <div class="row">
    <br>
    <strong>IN PROGRESS</strong><hr>

    <table class="table table-hover">
    
      <thead>
        <tr>
          <th>BOOK</th>
          <th>PRICE</th>
          <th>QTY</th>
          <th>TOTAL</th>
        </tr>
      </thead>

      <tbody>
        <% @in_progress_order.order_items.each do |order_item| %>
          <tr>
            <td>
              <h3><%= order_item.book.title %></h3>
              <p><%= order_item.book.description %></p>
            </td>
            <td><strong>$<%= order_item.book.price %></strong></td>
            <td><%= order_item.quantity %></td>
            <td>$<%= order_item.price %></td>
          </tr>
        <% end %>

        <tr>
          <td></td>
          <td><strong>SUBTOTAL</strong></td>
          <td></td>
          <td>$<%= @in_progress_order.total_price %></td>
        </tr>
      </tbody>

    </table>
  </div>
  <div class="row"><%= link_to 'GO TO CART', cart_path %></div>
<% end %>

<% if @completed_orders %>
  <div class="row">
    <br>
    <strong>IN DELIVERY</strong><hr>
    
    <table class="table table-hover">
    
      <thead>
        <tr>
          <th>NUMBER</th>
          <th>COMPLETED AT</th>
          <th>TOTAL</th>
        </tr>
      </thead>

      <tbody>
        <% @completed_orders.each do |order| %>
          <tr>
            <td><%= link_to order.id, order %></td>
            <td><%= order.updated_at %></td>
            <td>$<%= order.total_price %></td>
          </tr>
        <% end %>
      </tbody>

    </table> 
  </div>
<% end %>

<% if @shipped_orders %>
  <div class="row">
    <br>
    <strong>DELIVERED</strong><hr>
    
    <table class="table table-hover">
    
      <thead>
        <tr>
          <th>NUMBER</th>
          <th>COMPLETED AT</th>
          <th>TOTAL</th>
        </tr>
      </thead>

      <tbody>
        <% @shipped_orders.each do |order| %>
          <tr>
            <td><%= link_to order.id, order %></td>
            <td><%= order.updated_at %></td>
            <td>$<%= order.total_price %></td>
          </tr>
        <% end %>
      </tbody>

    </table> 
  </div>
<% end %>

