<p id="notice"><%= notice %></p>

<h1>Shop</h1>

<div class="row">
  <div class="col-md-10">
    <% @books.each do |book| %>
      <p><%= image_tag(book.image_url, size: "150x150") %></p>
      <p><%= link_to book.title, book %></p>
      <p>$<%= book.price %></p>
    <% end %>

    <%= paginate @books %>
  </div>

  <div class="col-md-2">
    <h5>CATEGORIES</h5>
    <div class="list-group">
      <% @categories.each do |category| %>
        <a href="<%= "/categories/#{category.id}" %>" class="list-group-item">
          <%= category.title %><span class="badge"><%= category.books.count %></span></a>
      <% end %>
    </div>
  </div>
</div>