<div class="row">
	<h2><%= @book.title %><br>
	<small><%= @book.author.name %></small></h2><br>
</div>

<div class="row">
	<div class="col-md-3"><%= image_tag(@book.image_url, size: "250x250") %></div>

	<div class="col-md-5">
		<p>
			<strong>$<%= @book.price %></strong>

			<% if user_signed_in? %>
				<%= form_for(@order_item) do |f| %>
					<span class="field">
				    <%= f.hidden_field :book_id, value: @book.id %>
				  </span>
				  <span class="field">
				    <%= f.text_field :quantity, size: 1, value: 1 %>
				  </span>
				  <span class="actions">
				    <%= f.submit %>
				  </span>
				<% end %>	
			<% end %>
		</p>
		<p><%= @book.description %></p>
	</div>
</div>

<div class="row">
	<h2>Reviews 
	<% if user_signed_in? %>
		<small><%= link_to 'Add review fo this book', new_book_rating_path(@book) %></small>
	<% end %></h2>

	<div class="col-md-6">
		<% @ratings.each do |rating| %>
				<div class="panel panel-default">
    			<div class="panel-heading"><%= rating.user.name %></div>
    			<div class="panel-body"><strong>Rating</strong>: <%= rating.value %></div>
					<div class="panel-body"><%= rating.review %></div>
  			</div>
		<% end %>
	</div>
</div>