<h1>Categories - <%= @category.title %></h1>

<div class="row">

  <div class="col-md-9">
    <% @books.each do |book| %>
      <div class="col-md-4">
        <p align="center"><%= image_tag(book.image_url, size: "150x150") %></p>
        <p align="center">
          <%= link_to book.title, book %><br>
          $<%= book.price %>
        </p>
      </div>
    <% end %>

    <div class="row"><div class="col-md-12"><%= paginate @books %></div></div>
  </div>

  <div class="col-md-3">
    <h5>CATEGORIES</h5>
    <div class="list-group">
      <% @categories.each do |category| %>
        <a href="<%= "/categories/#{category.id}" %>" class="list-group-item">
          <%= category.title %><span class="badge"><%= category.books.count %></span></a>
      <% end %>
    </div>
  </div>
</div>